VITE_SUPABASE_URL=https://wxlutjjjyxsplpqxqfvj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind4bHV0ampqeXhzcGxwcXhxZnZqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYwNjc2NDMsImV4cCI6MjA5MTY0MzY0M30.LQJvBLUdkcG77jPt2QexMRFYuWpBb5m617y3CbjYhwo
